body
{
    background-color: #2b2b2b;
    color: #d3d3d3;
    font-family: monospace;
}

a, a:visited, a:focus, a:hover
{
    color: #c3c3f3;
    font-weight: bold;
    text-decoration: underline;
}

a:focus, a:hover
{
    color: #f3f3ff;
}

pre
{
    background-color: #303030;
    color: #ddd;
}

pre > code
{
    padding:3px 5px;
    display: block;
    overflow-x: auto;
    padding: 1em;
}


:not(pre) > code
{
    color: #ffac1c;
    background-color: #1f1f1f;
}

main
{
    margin-left: auto;
    margin-right: auto;
    width: max(50%, min(100%, 900px));
}

main pre
{
    padding-top: 5px;
    padding-bottom: 5px;
}


h1,h2,h3,h4
{
    text-decoration: underline;
}

h2
{
    margin-top: 2em;
}

details
{
    background: #1f1f1f;
    padding: 5px;
    border: #7373c3 1px solid;
}

.imTable
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.imTable > div
{
    border: #7373c3 1px solid;
    margin: 5px;
}


.knkRadio input[type="radio"]
{
    display: none;
}


.knkRadio input[type="radio"]+label,
input[type="button"]
{
  background-color: #1f1f1f;
  cursor: pointer;
  border: #7373c3 2px outset;
  padding:5px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #d3d3d3;
  font-family: monospace;
}

.knkRadio input[type="radio"]:checked+label,
input[type="button"]:active
{
  color: #00d5ff;
  background-color: #400778;
  cursor: pointer;
  border: #7373c3 2px inset;
  padding:5px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: monospace;
}

.knkRadio input[type="radio"]:disabled+label,
input[type="button"]:disabled
{
  color: #d5d5d5;
  background-color: #444444;
  cursor: pointer;
  border: #7373c3 2px outset;
  padding:5px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: monospace;
}


.twoxnctrls
{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.twoxnctrls > div
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr;
    border: #7373c3 1px solid;
    border-top: 0;
}

.twoxnctrls > div:first-of-type
{
    border-top: #7373c3 1px solid;
}

.twoxnctrls > div > div
{
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.twoxnctrls > div > div:last-of-type
{
    border-left: #7373c3 1px solid;
    height: 100%;
}


#header
{
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
}

#footersep
{
    margin-top:5em;
    margin-bottom:2em
}

#copyright
{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1em;
}
